body {
  margin: 0;
}

nav ul {
  background-color: #755136;
  color: white;
  display:  block;
}
.masthead {
  padding-top: 4em;
  background-image: url("../images/beetlevector.svg"), url("../images/subtle_white_mini_waves.png");
  background-size: 75px auto, 100px auto;
  background-repeat: no-repeat, repeat;
  background-position: center 10px, left top;
  text-align: center;
}

h1 {
  margin: 0;
}

img {
  display:block;
  width:100%;
}
